@font-face {
  font-family: font1;
  src: url("assets/fonts/Catamaran-VariableFont_wght.ttf");
}

@font-face {
  font-family: font2;
  src: url("assets/fonts/ComicNeue-Regular.ttf");
}

@font-face {
  font-family: font3;
  src: url("assets/fonts/Handlee-regular.ttf");
}

@font-face {
  font-family: font4;
  src: url("assets/fonts/QuattrocentoSans-regular.ttf");
}

@font-face {
  font-family: font5;
  src: url("assets/fonts/YsabeauInfant-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
}

body {
  color: black;
  /*background-color: rgb(244, 195, 162);*/
  /*background-color: #f4c3a2;#eacbaa*/
  background-color: #eacbaa;
  font-family: font2, Arial, sans-serif;
  text-align: center;
}

/*-------------------------*/
/*     page principale     */
/*-------------------------*/

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

#parent {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  border-radius: 20px;
  background-color: violet;
  /*background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);*/
  background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
}

#parent:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

main {
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 180px;
  margin: 40px auto 0;
}

img {
  border-radius: 3px;
  width: 100%;
}

.home-page h1 {
  margin-top: 60px;
  font-size: 2.4rem;
}

.home-page h2 {
  margin-top: 30px;
  font-size: 1.8rem;
}

.arts {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.contact-link {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-link a {
  border-radius: 3px;
  padding: 8px 20px;
  /*background: linear-gradient(to bottom right, #d28a46, #ebcbad);*/
  background: url(assets/images/fond.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*border: 2px solid #caa77e;*/
  border-top: 3px solid #f8d8ba;
  border-left: 3px solid #f8d8ba;
  border-bottom: 3px solid #c09d72;
  border-right: 3px solid #c09d72;
  color: black;
}

@keyframes btn {
  /*from {background: linear-gradient(to bottom right, #d28a46, #ebcbad);}
  to {background: linear-gradient(to bottom right, #ebcbad, #d28a46);}*/
  from {
    border-top: 3px solid #f8d8ba;
    border-left: 3px solid #f8d8ba;
    border-bottom: 3px solid #c09d72;
    border-right: 3px solid #c09d72;
  }
  to {
    border-top: 3px solid #c09d72;
    border-left: 3px solid #c09d72;
    border-bottom: 3px solid #f8d8ba;
    border-right: 3px solid #f8d8ba;
  }
}

.contact-link a:hover {
  /*background: linear-gradient(to bottom right, #ebcbad, #d28a46);*/
  border-top: 3px solid #c09d72;
  border-left: 3px solid #c09d72;
  border-bottom: 3px solid #f8d8ba;
  border-right: 3px solid #f8d8ba;
  animation-name: btn;
  animation-duration: 0.5s;
}

.places {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

.cl {
  margin-top: 10px;
  margin-bottom: 30px;
}

.cl a {
  border-radius: 3px;
  padding: 8px 20px;
  color: black;
}

.cl2 a {
  border-radius: 8px;
  background: url(assets/images/fond.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 3px solid #f8d8ba;
  border-left: 3px solid #f8d8ba;
  border-bottom: 3px solid #c09d72;
  border-right: 3px solid #c09d72;
}

.cl2 a:hover {
  border-top: 3px solid #c09d72;
  border-left: 3px solid #c09d72;
  border-bottom: 3px solid #f8d8ba;
  border-right: 3px solid #f8d8ba;
  animation-name: btn;
  animation-duration: 0.5s;
}

.cl3 a {
  background: url(assets/images/fond.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: box-shadow 0.3s;
}

.cl3 a:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cl4 a {
  border: 1px solid #ceab7d;
  background-color: #e4c29a;
  /*background: linear-gradient(to bottom right, #eec190, #ebcbad);*/
  transition: box-shadow 0.3s;
}

.cl4 a:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cl5 a {
  border: 1px solid #ceab7d;
  border-radius: 50px;
  background-color: #e4c29a;
  /*background: linear-gradient(to bottom right, #eec190, #ebcbad);*/
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: box-shadow 0.3s;
}

.cl5 a:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cl6 a {
  border: 1px solid #ceab7d;
  border-radius: 50px;
  background-color: #e4c29a;
  /*background: linear-gradient(to bottom right, #eec190, #ebcbad);*/
  transition: color 0.3s, background-color 0.3s;
}

.cl6 a:hover {
  background-color: #ceab7d;
  color: #fcf2e8;
}

/*-------------------------*/
/*      page contact       */
/*-------------------------*/

.contact-page {
  background-color: #ffdfcb;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-page h1 {
  margin-top: 60px;
  font-size: 2.4rem;
  cursor: pointer;
}

.back-icon {
  position: absolute;
  top: 20px;
  left:20px;
  font-size: 23px;
  padding: 5px;
}

.back-icon a:link, .back-icon a:visited {
  color: black;
  background-color: #ffdfcb;
}

.back-icon a:hover, .back-icon a:active {
  color: #c09d72;
  background-color: #ffdfcb;
}

#form-container {
  width: 80%;
  margin: auto;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.contact-page h2 {
  margin-top: 14px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

input,
textarea {
  margin: 5px;
  height: 45px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  border-radius: 5px;
  font-family: font2;
  font-size: 1em;
  width: 90%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #cd7d32;
}

textarea {
  height: 200px;
  resize: none;
}

button[type="submit"] {
  width: 130px;
  cursor: pointer;
  background: url(assets/images/fond.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 3px solid #f8d8ba;
  border-left: 3px solid #f8d8ba;
  border-bottom: 3px solid #c09d72;
  border-right: 3px solid #c09d72;
  border-radius: 3px;
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 6px 0 5px;
  font-family: font2;
  font-size: 1em;
}

button[type="submit"]:hover {
  border-top: 3px solid #c09d72;
  border-left: 3px solid #c09d72;
  border-bottom: 3px solid #f8d8ba;
  border-right: 3px solid #f8d8ba;
  animation-name: btn;
  animation-duration: 0.5s;
}

#err-mail {
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  padding: 3px 12px 3px;
  font-size: 0.9rem;
}

#err-subject {
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 70px;
  padding: 3px 12px 3px;
  font-size: 0.9rem;
}

#err-message {
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 124px;
  padding: 3px 12px 3px;
  font-size: 1rem;
}

#send-success {
  color: white;
  border-radius: 6px;
  position: absolute;
  top: 9px;
  padding: 8px 20px;
  font-size: 1.1rem;
}

.err-style {
  animation-name: fadeout;
  animation-duration: 2s;
}

.success-style {
  animation-name: success;
  animation-duration: 3s;
}

@keyframes fadeout {
  0% {
    background-color: rgba(255, 0, 0, 0.1);
  }

  25% {
    background-color: rgba(255, 0, 0, 1);
  }

  70% {
    background-color: rgba(255, 0, 0, 1);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.1);
  }
}

@keyframes success {
  0% {
    background-color: rgba(0, 128, 0, 0.1);
  }

  20% {
    background-color: rgba(0, 128, 0, 1);
  }

  70% {
    background-color: rgba(0, 128, 0, 1);
  }

  100% {
    background-color: rgba(0, 128, 0, 0.1);
  }
}

/*-------------------
    large screens
-------------------*/

@media only screen and (min-width: 1200px) {
  #form-container {
    width: 800px;
  }
}